@* BeachBall.razor *@
<div
    class="@CssClasses"
    aria-label="@Label"
    aria-busy="@Active"
    data-active="@Active"
    role="status"
    aria-live="polite"
    active="@Active"
    @attributes="AdditionalAttributes">
</div>
