@* ColorPickerButton.razor *@
<button
    class="@CssClasses"
    aria-label="@Label"
    aria-pressed="@Selected"
    background-color="@Color"
    data-color="@Color"
    type="button"
    disabled="@Disabled"
    color="@Color"
    @attributes="AdditionalAttributes">
</button>
