@* FiveFaceRatingPickerButton.razor *@
<button
    class="@CssClasses"
    aria-label="@Label"
    aria-pressed="@Selected"
    data-value="@Value"
    type="button"
    disabled="@Disabled"
    value="@Value"
    @attributes="AdditionalAttributes">
</button>
